body {
  font-family: 'Roboto', Raleway;
}

/* logo-website */
.webstudio {
  font-family: Raleway;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}

.Web {
  color: #2196f3;
}
/* links */
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
} 
.link:hover , .link:focus{
  color: #2196F3;
}

.studio  ,.portfolio , .contacts {
  color: #212121;
}



.mail {
   text-decoration: none;
   color: #757575;
   font-size: 14px;
   line-height: 1.7;
   font-weight: 500;
  }
.mail:hover, .mail:focus{
   color: #2196F3;
}

.tel {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}

.tel:hover, .tel:focus{
 color: #2196F3;
}

/* Hero section */
.hero {
 background-color: #2f303a;
}
.desicions {
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.4;
}

.button{
   background: #2196F3;
   color: #ffffff;
   line-height: 1.9;
   font-family: inherit; 
   font-weight: 700;
   font-size: 16px;
  }


.h3-text {
  color: #212121;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  
}
.p-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

/* What are we doing */
.edge{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   color: #212121;
   
}

.what-doing {
  font-weight: 700;
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* our team */

.our-team {
  font-weight: 700;
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* member team */
.member-team {
  color: #212121;
  line-height: 1.2;
  font-weight: 500;
  font-size: 16px;
}

.class{
   color: #757575;
   line-height: 1.2;
}

/* footer */

.footer {
  background-color: #2f303a;
}
.webstudio-footer {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}
.webstudio-footer:hover, .webstudio-footer:focus{
   color: #2196F3;
}

.adress {
   text-decoration: none;
   color: #ffffff;
   font-size: 14px;
   font-style: normal;
   line-height: 1.7;
 }
 .adress:hover, .adress:focus{
    color: #2196F3;
 }
 
.mail-footer {
  color: #ffffff99;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.mail-footer:hover, .mail-footer:focus{
   color: #2196F3;
}
.tel-footer {
  text-decoration: none;
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.tel-footer:hover, .tel-footer:focus{
   color: #2196F3;
}

/* PORTFOLIO!!! */


.button-blue{
   background-color: #2196F3;
   color: #ffffff;
   font-size: 16px;
   line-height: 1.6;
}
.buttons{
   background-color: #F5F4FA;
   color: #212121;
   font-size: 16px;
   line-height: 1.6;
   font-family: inherit;
   font-weight: 500;
  }

.title-project{
   color: #212121;
   font-size: 18px;
   line-height: 2;
}
.platform{
   color: #757575;
   line-height: 1.9;
}